---
interface Props {
    time: string;
    title: string;
    description: string;
    href: string
}
const time = new Date(Astro.props.time).toLocaleString("es-bo", { day: 'numeric', month: 'long', year: 'numeric' })
---
<div class="flex gap-4">
    <div class="hidden md:flex px-4 flex-none flex-col items-center">
        <p class="py-6 text-gray-400">{time}</p>
        <span class="flex-1 border-l"></span>
    </div>
    <a href={Astro.props.href} class="block py-6 px-4 hover:bg-gray-50 rounded-lg transition-colors flex-1">
        <p class="md:hidden pb-2 text-gray-400 text-sm">{time}</p>
        <h3 class="font-semibold text-lg line-clamp-1">{Astro.props.title}</h3>
        {Astro.props.description && <p class="mt-2 text-gray-500 line-clamp-2">{Astro.props.description}</p>}
        {Astro.props.description && <button class="block w-fit mt-6 text-purple-500">Read more</button>}
    </a>
</div>